import collections
class Solution:
    def singleNumber(self, nums: List[int]) -> List[int]:
        a=collections.Counter(nums)
        a=dict(a)
        nums=[]
        for i in a:
            if a.get(i)==1:
                nums.append(i)
        return nums  
